@model SAMTool.UI.Models.AppObjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Define Objects</h2>
<div class="form-horizontal">
    <div class="col-md-12">
        <h4>Display Objects Panel</h4>

        <div class="" id="btnPatchICRExpensesSettab" style="min-height:25px">

            @{
                var data = new { ActionType = "List" };
                @Html.Action("ChangeButtonStyle", "AppObject", data);
            }
        </div>
        <hr />
        <div class="col-md-12">
            <div class="col-md-4" style="padding-left: 0px;">
                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Select Application</label>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.AppID, Model.ApplicationList, "--Select Application--", new { @class = "form-control", @style = "padding:4px 12px;" })
                        </div>
                        @*<div class="col-md-1 mandatory"></div>*@
                    </div>
                </div>
            </div>

        </div>

    </div>

    
        

    </div>
<div style="display:none;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Object</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AppID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>


<div>
</div>
